body
{
background-color:Darkgrey;
}
#a
{
  color:lightblue;
}
#aa
{
  padding-right;
}
#a1
{
text-align:left;
color:blue;
}
#a2
{
text-align:right;
}
#a3
{
text-align:center;
}
#a4
{
color:red;
text-align:center;
}
#a4:hover
{
  visibility:hidden;
}
